In [1]:
a=[['abc'],['bca'],['cab']]

In [4]:
a

[['abc'], ['bca'], ['cab']]

In [5]:
a[0]=='abc'

False

In [6]:
for i in a:
    for j in i:
        if j=='cab':
            print(j)
            break

cab

In [25]:
a[0]=='abc'

False

In [7]:
for i in a:
    if i=='abc':
        print(i)
        break

In [8]:

#data[]#   data['publication']=='VGC'

In [16]:
b=[['abc'],['bca'],['cab'],['abc'],['cab']]

In [17]:
b

[['abc'], ['bca'], ['cab'], ['abc'], ['cab']]

In [23]:
for i in b:
    for j in i:
        if j=='abc' or j=='cab':
            print(j)
            break

abc
cab
abc
cab

In [2]:
a

[['abc'], ['bca'], ['cab']]

In [8]:
import pandas as pd
df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
                              'Parrot', 'Parrot'],
                   'Max Speed': [380., 370., 24., 26.]})

In [9]:
df

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0

In [14]:
df.groupby(['Animal']).maxspped()

AttributeError: 'DataFrameGroupBy' object has no attribute 'maxspped'