In [10]:
import pandas as pd

In [17]:
#a.encode('utf-8').strip()
data=pd.read_csv(r'C:\Users\saket\Desktop\Oman_import.csv',encoding='latin1')

In [19]:
data.columns

Index(['Data_Country', 'Type', 'Year', 'Bill of Lading', 'Date of Berthing',
       'Place of Receipt', 'POL Code', 'Port of loading', 'Country of Loading',
       'POD Code', 'Port of discharge', 'Country of Discharge',
       'Final delivery port', 'Commodity REP code', 'HS Code',
       'HS Description', 'Product Description', 'Weight of cargo',
       'Number of Packages', 'Packing Unit', 'Freight Term', 'Export Name',
       'Shipper', 'Shipper Address', 'Consignee', 'Consignee Address', 'TEU',
       'Connecting vessel', 'Vessel Name', 'Booking No', 'Forward Name',
       'Notify Name', 'Notify Address', 'Booking Date',
       'Booking Contact Phone Number', 'Booking Contact E-Mail',
       'SI Contact Phone Number', 'SI Contact E-Mail', 'Sailing DT'],
      dtype='object')

In [43]:
data['HS Code']==040700

SyntaxError: invalid token (<ipython-input-43-e85122c8b371>, line 1)

In [58]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 39 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Data_Country                  44 non-null     object
 1   Type                          44 non-null     object
 2   Year                          44 non-null     int64
 3   Bill of Lading                44 non-null     object
 4   Date of Berthing              44 non-null     object
 5   Place of Receipt              44 non-null     object
 6   POL Code                      44 non-null     object
 7   Port of loading               44 non-null     object
 8   Country of Loading            44 non-null     object
 9   POD Code                      44 non-null     object
 10  Port of discharge             44 non-null     object
 11  Country of Discharge          44 non-null     object
 12  Final delivery port           44 non-null     object
 13  Commodity REP code            44 non-null     int64
 14  HS Code                       44 non-null     int64
 15  HS Description                44 non-null     object
 16  Product Description           44 non-null     object
 17  Weight of cargo               44 non-null     object
 18  Number of Packages            44 non-null     object
 19  Packing Unit                  44 non-null     object
 20  Freight Term                  44 non-null     object
 21  Export Name                   9 non-null      object
 22  Shipper                       44 non-null     object
 23  Shipper Address               44 non-null     object
 24  Consignee                     44 non-null     object
 25  Consignee Address             32 non-null     object
 26  TEU                           44 non-null     float64
 27  Connecting vessel             44 non-null     object
 28  Vessel Name                   44 non-null     object
 29  Booking No                    44 non-null     object
 30  Forward Name                  28 non-null     object
 31  Notify Name                   44 non-null     object
 32  Notify Address                37 non-null     object
 33  Booking Date                  44 non-null     object
 34  Booking Contact Phone Number  31 non-null     object
 35  Booking Contact E-Mail        35 non-null     object
 36  SI Contact Phone Number       30 non-null     object
 37  SI Contact E-Mail             33 non-null     object
 38  Sailing DT                    44 non-null     object
dtypes: float64(1), int64(3), object(35)
memory usage: 13.5+ KB

In [65]:
new_data=pd.melt(data[data['HS Description']=='FOODSTUFFS, NOS:'])

In [68]:
new_data[new_data['variable']=='Shipper Address']

           variable                                              value
23  Shipper Address  YAICHA SUB-DISTRICT, SAMPRAN\nDISTRICT NAKORNP...