In [2]:
import pandas as pd

In [3]:
data=pd.DataFrame({
    'day':['Monday','Tuesday','wednesday','Thursday','Friday','Saturday','Sunday'],
    'Mumbai':[23,34,45,66,78,43,23],
    'Pune':[23,12,87,33,66,89,90],
    'Banglore':[33,66,77,90,91,92,76]
})

In [4]:
#melt-> is used to transform or reshape the data 
data_1=pd.melt(data,id_vars=['day'],var_name='city',value_name='Temperature')
#------------------------The particualr task is here to fetch the columns with variable as "Mumbai"----------------------------
#data_1[data_1['variable']=='Mumbai']
#---------------------------------------------------------------------------
#data[['day','Mumbai']]#-> the Alternate for the upper code.#-> by using the original data Frame

In [5]:
data_2=pd.melt(data)

In [139]:
data_2.rename(
    columns={
    'variable':'DAYS',
    'value':'VAL'}
,inplace=True)

In [140]:
data_2

        DAYS        VAL
0        day     Monday
1        day    Tuesday
2        day  wednesday
3        day   Thursday
4        day     Friday
5        day   Saturday
6        day     Sunday
7     Mumbai         23
8     Mumbai         34
9     Mumbai         45
10    Mumbai         66
11    Mumbai         78
12    Mumbai         43
13    Mumbai         23
14      Pune         23
15      Pune         12
16      Pune         87
17      Pune         33
18      Pune         66
19      Pune         89
20      Pune         90
21  Banglore         33
22  Banglore         66
23  Banglore         77
24  Banglore         90
25  Banglore         91
26  Banglore         92
27  Banglore         76

In [130]:
new_data=data_2[data_2['DAYS']=='day'][['VAL']]=0

C:\Users\saket\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\saket\anaconda3\lib\site-packages\pandas\core\frame.py:2969: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.loc._setitem_with_indexer((slice(None), indexer), value)
C:\Users\saket\anaconda3\lib\site-packages\pandas\core\frame.py:2935: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_array(key, value)

In [173]:
data_2[data_2['DAYS']=='day']['VAL']=0

In [174]:
%timeit data_2.query('VAL!=0')

4.03 ms ± 333 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [175]:
%timeit data_2[data_2['VAL']!=0]

859 µs ± 7.54 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)