In [1]:
import pandas as pd

In [22]:
temperature_data=pd.DataFrame({
    'city':['Mumbai','Pune','Banglore','Hyderbad'],
    'temperature':[34,32,33,43]
})
humidity_data=pd.DataFrame({
    'city':['Pune','Mumbai','Delhi'],
    'humidity':[32,42,41]
})

In [23]:
humidity_data

     city  humidity
0    Pune        32
1  Mumbai        42
2   Delhi        41

In [37]:
data=pd.merge(temperature_data,humidity_data,on='city')#->merge fucntion return the sanm name in the particular column
#data=pd.merge(temperature_data,humidity_data,on='city',how='inner')#<- same works as upper code

In [38]:
data

     city  temperature  humidity
0  Mumbai           34        42
1    Pune           32        32

In [39]:
data2=pd.merge(temperature_data,humidity_data,on='city',how='outer')#->merge fucntion with how keyword="outer" doesnt give the same name

In [40]:
data2

       city  temperature  humidity
0    Mumbai         34.0      42.0
1      Pune         32.0      32.0
2  Banglore         33.0       NaN
3  Hyderbad         43.0       NaN
4     Delhi          NaN      41.0

In [47]:
pd.merge(temperature_data,humidity_data,on='city',how='right',indicator=True)

     city  temperature  humidity      _merge
0  Mumbai         34.0        42        both
1    Pune         32.0        32        both
2   Delhi          NaN        41  right_only

In [69]:
data1=pd.DataFrame({
    'city':['Mumbai','Pune','Banglore','Hyderbad','Kochin','Delhi'],
    'temperature':[34,32,33,43,32,48],
    'humidity':[32,42,41,24,45,88]
})
data2=pd.DataFrame({
    'city':['Mumbai','Pune','Banglore','Hyderbad'],
    'temperature':[78,54,89,77],
    'humidity':[55,98,65,42]
})

In [80]:
new_data=pd.merge(data1,data2,on='city',suffixes=('_L','_R'))#->it returns the same columns in both the data frame
#the particualr function with same name columns in both the data frmae it returns in both in suffixes

In [81]:
new_data

       city  temperature_L  humidity_L  temperature_R  humidity_R
0    Mumbai             34          32             78          55
1      Pune             32          42             54          98
2  Banglore             33          41             89          65
3  Hyderbad             43          24             77          42