In [39]:
import pandas as pd
import numpy as np

In [2]:
pd

In [23]:
'''
#data=pd.read_csv(r'C:\Users\saket\Desktop\DATASETS\my_data_1.csv',na_values={
    'ST_NAME':['not available','NAN'],
    'ST_MARKS':['not available','NaN']
})
'''

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 23-24: truncated \UXXXXXXXX escape (<ipython-input-23-cf088e99fedb>, line 6)

In [151]:
data=pd.read_csv(r'C:\Users\saket\Desktop\DATASETS\my_data_1.csv')#.replace('not available',np.NaN)#NAN repalcemnt

In [99]:
data[data['ST_NAME']=='not available'].replace('not available',np.NaN).inplace=True

In [163]:
data[data['ST_NAME']=='not available']=data[data['ST_NAME']=='not available'].replace('not available',np.NaN)#repalcing NAN value
#after watching the data with upper code

In [164]:
data

   ST_ROLLNO ST_NAME  ST_STD ST_DIV ST_ADD  ST_FESS       ST_MARKS
0        100     ABC       5      A     NP    15000  not available
1        200     XYZ      -5      B     KA     1600             60
2        300     TYU       3      c     KH     3000  not available
3        400     NYU       2      D     NU    40000            -70
4        500     NaN       1      E     SA  -700000            -80