In [1]:
import pandas as pd

In [83]:
#data=pd.read_csv(r'C:\Users\saket\Desktop\DATASETS\us_university.csv',header=[0,1,2])
data=pd.read_csv(r'C:\Users\saket\Desktop\DATASETS\us_university.csv',header=[0,1,2])

In [80]:
new_data=data[['SCHOOL','STATE','CITY','NOC','PROGRAM']]

In [52]:
data_2=pd.read_csv(r'C:\Users\saket\Desktop\DATASETS\weather_data.csv')

In [56]:
data_2=data_2.dropna()

In [64]:
a=[]
for i in range(0,len(data_2.index)):
    a.append(i)
data_2.index=a

In [90]:
#stack()-> the stack fucntion does convtrt all the rows to columns by providing level
stack_data=pd.DataFrame(data_2.stack())

In [93]:
#unstack()->the particualr function rebacks to the orgignal table
stack_data.unstack()

           0
         day   event temperature windspeed       city
0   1/3/2017  Cloudy          66         3  hyderabad
1   1/7/2017    Rain          55         7     Mumbai
2   1/8/2017    Mist          57         8   Banglore
3   1/9/2017  Cloudy          58         9  hyderabad
4  1/12/2017    cold          62        12    chennai
5  1/19/2017    Mist          65        14   Banglore
6  1/16/2017   sunny          67        16     kochin
7  1/17/2017    Snow          69        17      vizag
8  1/20/2017    Mist          73        20   Banglore