In [250]:
import pandas as pd

In [251]:
data=pd.read_csv(r'C:\Users\saket\Desktop\DATASETS\AAAU_20200101_20200622.csv')#importing apple data sets with read_csv() method
data.set_index(pd.to_datetime(data['Date']),inplace=True)#converting the strings date columns into actual index and 
new_data=data

# Two types of date time objects in python
1)Navie(no time zone awareness)
2)Time Zone aware datetimne

In [252]:
#pd.DataFrame(pd.to_datetime(data['Date'])).set_index('Date').tz_localize(tz='Asia/Kolkata')

In [253]:
data=data.tz_localize(tz='Asia/Kolkata')#the date and time is now converted into Asia kolkata
data.index[0]#-> for checking 
#---------------ALternative way:--------------------------#
#data.index=data.index.tz_localize(tz='Asia/Kolkata')# for

Timestamp('2020-01-01 00:00:00+0530', tz='Asia/Kolkata')

In [152]:
#----------------------coverting ASia kolakat time zone to dubai time zone":-----------------------------#
data.index=data.index.tz_convert(tz='Asia/Dubai')
data.index[0]# for checking

Timestamp('2019-12-31 22:30:00+0400', tz='Asia/Dubai')

In [198]:
#from pytz import all_timezones# to import all world time zone
all_timezones

In [ ]:
#-------------------------------------Differnt Time Zones in data range:----------------------------------------------------#

#------------one Way(1)----------------#
date_range_1=pd.DataFrame(pd.date_range('2020-01-1','2020-01-31'))
date_range_1.set_index(date_range[0],inplace=True)
date_range_1.tz_localize(tz='Asia/Kolkata')

#---------Second way(2)----------------#
date_range_2=pd.date_range('2020-1-1','2020-1-31',periods=10)#->it gives naive date time index
date_range_2.tz_localize(tz='America/New_York')#->converting into America/newyork time index

#-----------------Third way(3)-------------------------#
date_range_3=pd.date_range('2020-01-1','2020-01-31',periods=10,tz='Asia/kolkata')#->directly converting naive time into Asia/kolkata timezone

In [321]:
#-----------------------------------Adding 2 localize date time:------------------------#
rng=pd.date_range(start='2020-01-1 9:00:00',periods=5,freq='25min')
date_range=pd.Series(range(len(rng)),index=rng)
d=date_range.tz_localize(tz='Asia/dubai')
m=date_range.tz_localize(tz='Asia/kolkata')
d+m

2020-01-01 03:30:00+00:00   NaN
2020-01-01 03:55:00+00:00   NaN
2020-01-01 04:20:00+00:00   NaN
2020-01-01 04:45:00+00:00   NaN
2020-01-01 05:00:00+00:00   NaN
2020-01-01 05:10:00+00:00   NaN
2020-01-01 05:25:00+00:00   NaN
2020-01-01 05:50:00+00:00   NaN
2020-01-01 06:15:00+00:00   NaN
2020-01-01 06:40:00+00:00   NaN
dtype: float64