In [1]:
import pandas as pd

In [2]:
el_data=pd.read_csv(r'C:\Users\saket\Desktop\DATASETS\us_election_dataets_county.csv')
un_data=pd.read_csv(r'C:\Users\saket\Desktop\DATASETS\us_unemployment_datasets_county.csv')
el_data=el_data.dropna(axis=0)#dropping all "NaN" columns from election data
c=[]#craeting list
for i in range(0,len(list(el_data.index))):#<- this particualr loop start the index from 0 till what is the length
    c.append(i)
el_data.index=c #<- and again meriging the index the list in electin index

In [3]:
el_data.columns

Index(['county', 'fips', 'cand', 'st', 'pct_report', 'votes', 'total_votes',
       'pct', 'lead'],
      dtype='object')

In [4]:
un_data.columns

Index(['Year', 'Month', 'State', 'County', 'Rate'], dtype='object')

In [5]:
un_data['Year'].unique()

array([2015, 2014, 2016, 2011, 2010, 2013, 2012, 1991, 1990, 1993, 1992,
       1995, 1994, 1997, 1996, 1999, 1998, 2002, 2003, 2000, 2001, 2006,
       2007, 2004, 2005, 2008, 2009], dtype=int64)

In [6]:
new_un_data=un_data[(un_data['Year']==2015) & (un_data['State']=='Mississippi')]#pandas does not used normal python opreator they used bitwise operator

In [7]:
new_un_data

       Year     Month        State          County  Rate
0      2015  February  Mississippi   Newton County   6.1
1      2015  February  Mississippi   Panola County   9.4
2      2015  February  Mississippi   Monroe County   7.9
3      2015  February  Mississippi    Hinds County   6.1
4      2015  February  Mississippi   Kemper County  10.6
...     ...       ...          ...             ...   ...
30873  2015  November  Mississippi  Forrest County   5.8
30874  2015  November  Mississippi   George County   7.1
30875  2015  November  Mississippi    Jones County   6.1
30876  2015  November  Mississippi  Grenada County   5.9
30877  2015  November  Mississippi   Warren County   6.6

[984 rows x 5 columns]

In [8]:
un_data

        Year     Month        State              County  Rate
0       2015  February  Mississippi       Newton County   6.1
1       2015  February  Mississippi       Panola County   9.4
2       2015  February  Mississippi       Monroe County   7.9
3       2015  February  Mississippi        Hinds County   6.1
4       2015  February  Mississippi       Kemper County  10.6
...      ...       ...          ...                 ...   ...
885543  2009  November        Maine     Somerset County  10.5
885544  2009  November        Maine       Oxford County  10.5
885545  2009  November        Maine         Knox County   7.5
885546  2009  November        Maine  Piscataquis County  11.3
885547  2009  November        Maine    Aroostook County   9.0

[885548 rows x 5 columns]